@import "./pages/variables.less";
@import "./pages/mixins.less";

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  .set-font();
  color: @basic-dark;
  background:
    url("../../assets/img/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
    #211F20
    no-repeat;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

.lock {
  overflow-y: hidden;
}

.container {
  width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}

.header {
  position: sticky;
  top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: @basic-white;
}

.header__container {
  width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 320px;
    padding-left: 10px;
    padding-right: 53px;
    margin: 0;
    margin-left: auto;
  }
}

.header__wrapper {
  display: flex;
  justify-content: flex-start;
}

.header__logo {
  z-index: 3;
  margin-right: auto;
}

.header__logo-link {
  z-index: 3;
  display: block;
  margin-right: auto;
}

.header__logo-title {
  display: block;
  padding-bottom: 10px;
  font-family: "Georgia", serif;
  .set-font(2rem, 1.1em, 400);
  text-align: center;
  letter-spacing: 0.06em;
  color: @basic-dark-l;
}

.header__logo-subtitle {
  display: block;
  .set-font(0.81rem, 15px, 400);
  text-align: center;
  letter-spacing: 0.1em;
  color: @basic-dark-l;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
}

.nav-menu__toggler {
  z-index: 3;
  display: none;
  position: relative;
  margin-top: 19px;
  width: 30px;
  height: 22px;
  border: none;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @basic-black;
    box-shadow: 0 10px 0 0 @basic-black, 0 20px 0 0 @basic-black;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    display: block;
    transition: transform 0.5s;

    &--open {
      transform: rotate(90deg);
    }
  }
}

.nav-menu__list {
  display: flex;
  list-style: none;
  align-items: center;

  @media (min-width: 0) and (max-width: 767.5px) {
    position: fixed;
    top: 0;
    right: -320px;
    padding-top: 248px;
    padding-bottom: 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 100vh;
    background-color: @basic-white;
    transition: 0.5s;

    &--show {
      overflow-y: hidden;
      right: 0;
      box-shadow: -320px 0 0 300px rgba(41, 41, 41, 0.6);
    }
  }
}

.nav-menu__item {
  display: flex;
  align-items: center;
  margin-left: 36px;

  @media (min-width: 0) and (max-width: 767.5px) {
    margin: 0;

    + .nav-menu__item {
      margin-top: 40px;
    }
  }
}

.nav-menu__link {
  padding-bottom: 3px;
  .set-font(@font-size: 0.94rem);
  color: @basic-dark-l;

  &:hover {
    color: @basic-dark-xl;
  }

  &--active {
    padding-bottom: 0;
    color: @basic-dark-l;
    border-bottom: 3px solid @basic-sand;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    .set-font(2rem, 1.6em, 400);
  }
}

.btn {
  display: block;
  padding: 15px 45px;
  font-family: "Georgia", serif;
  .set-font(1.06rem, 1.3em, 400);
  letter-spacing: 0.06em;
  border-radius: 100px;
  color: @basic-dark-xl;
  background-color: @basic-sand;

  &--our-friends {
    padding: 12px 43px;
    border: 2px solid @basic-sand;
    background-color: @basic-white;

    &:hover {
      border-color: @basic-sand-light;
      background-color: @basic-sand-light;
    }
  }

  &:hover {
    background-color: @basic-sand-light;
  }
}

.our-friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: @basic-light-l;

  @media(min-width: @tablet-width) and (max-width: 1279.5px) {
    padding-top: 80px;
    padding-bottom: 76px;
  }

  @media(min-width: 0) and (max-width: 767.5px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.our-friends__header {
  font-family: "Georgia", serif;
  padding-bottom: 60px;
  text-align: center;
  .set-font(35px, 1.3em, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-l;

  @media(min-width: @tablet-width) and (max-width: 1279.5px) {
    padding-bottom: 30px;
  }

  @media(min-width: 0) and (max-width: 767.5px) {
    padding-bottom: 42px;
    .set-font(25px, 1.3em, 400);
  }
}

.our-friends__list {
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 40px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    padding-bottom: 40px;
    padding-left: 64px;
    padding-right: 64px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media(min-width: 0) and (max-width: 767.5px) {
    padding-left: 15px;
    padding-right: 14px;
    padding-bottom: 42px;
    grid-template-columns: 1fr;
  }
}

.our-friends__item {
  padding-bottom: 30px;
  width: 270px;
  min-height: 435px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: @basic-white-dark;

  @media(min-width: @tablet-width) and (max-width: 1279.5px) {
    &:nth-child(7),
    &:nth-child(8) {
      display: none;
    }
  }

  @media(min-width: 0) and (max-width: 767.5px) {
    &:nth-child(2n),
    &:nth-child(7),
    &:nth-child(8) {
      display: none;
    }
  }

  &--current,
  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: @basic-white;
  }
}

.our-friends__name {
  font-family: "Georgia", serif;
  .set-font(1.25rem, 23px, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-l;
}

.our-friends__pagination {
  width: 340px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media(min-width: 0) and (max-width: 767.5px) {
    width: 300px;
  }
}

.our-friends__btn {
  font-family: "Georgia", serif;
  .set-font(1.25rem, 1.15em, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-xl;
  display: block;
  text-align: center;
  width: 52px;
  height: 52px;
  border: 2px solid @basic-sand;
  border-radius: 100px;
  background-color: transparent;

  &--current {
    border-color: @basic-sand;
    background-color: @basic-sand;
  }

  &:hover {
    cursor: pointer;
    background-color: @basic-sand-light;
    border-color: @basic-sand-light;
  }

  &:active {
    border-color: @basic-sand;
    background-color: @basic-sand;
  }

  &:disabled {
    color: @basic-grey;
    border-color: @basic-grey;

    &:hover {
      cursor: default;
      background-color: transparent;
    }
  }
}

.footer {
  padding-top: 40px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    padding-top: 30px;

    img {
      width: 300px;
      height: 310px;
    }
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    padding-top: 31px;

    img {
      width: 260px;
      height: 269px;
    }
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    row-gap: 65px;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__text {
  margin-top: 17px;
  min-height: 234px;
  width: 279px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    margin-top: 0;

    &:first-child {
      margin-right: 60px;
    }
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    margin-top: 0;
  }

  &--large {
    width: 302px;

    @media (min-width: 0) and (max-width: 767.5px) {
      margin-bottom: 50px;
    }
  }

  h2 {
    font-family: "Georgia", serif;
    .set-font(2.187rem, 1.3em, 400);
    letter-spacing: 0.06em;
    color: @basic-white;

    @media (min-width: 0) and (max-width: 767.5px) {
      text-align: center;
    }
  }
}

.footer__link {
  display: block;
  min-height: 32px;
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Georgia", serif;
  .set-font(1.25rem, 1.15em, 400);
  color: @basic-sand;
  letter-spacing: 0.06em;
  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 32px;
    top: calc((100% - 32px) / 2);
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--email {
    &::before {
      background-image: url("../../assets/icons/icon-email.svg");
    }
  }

  &--tel {
    &::before {
      background-image: url("../../assets/icons/icon-phone.svg");
    }
  }

  &--marker {
    padding-left: 42px;

    &::before {
      width: 22px;
      background-image: url("../../assets/icons/icon-marker.svg");
    }
  }
}

.popup {
  font-family: "Georgia", serif;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  padding-top: 52px;
  padding-right: 52px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;

  img {
    width: 500px;
    height: 500px;
    margin-right: 29px;
    border-radius: 9px;

    @media (min-width: @tablet-width) and (max-width: 1279.5px) {
      width: 350px;
      height: 350px;
      margin-right: 11px;
    }

    @media (min-width: 0) and (max-width: 767.5px) {
      display: none;
    }
  }

  &--close {
    display: none;
  }
}

.popup__wrapper {
  position: absolute;
  width: 952px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 630px;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 240px;
  }
}

.popup__background {
  display: flex;
  border-radius: 9px;
  background-color: @basic-white-dark;
  box-shadow: 0 0 0 900px rgba(41, 41, 41, 0.6);

  @media (min-width: 0) and (max-width: 767.5px) {
    padding: 10px;
  }
}

.btn-close {
  position: absolute;
  top: -52px;
  right: -41px;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid @basic-sand;
  background-color: transparent;

  &--hover {
    border-color: @basic-sand-light;
    background-color: @basic-sand-light;
  }

  &:hover {
    cursor: pointer;
    border-color: @basic-sand-light;
  }

  @media(min-width: 0) and (max-width: 767.5px) {
    right: -29px;
  }
}

.popup__text {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 20px;
  width: 351px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 260px;
    margin-top: 10px;
    margin-right: 9px;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    margin: 0;
    align-items: center;
  }
}

.popup__name {
  color: @basic-black;
  .set-font(2.19rem, 1.3em, 400);
  letter-spacing: 0.06em;
  padding-bottom: 10px;
}

.popup__breed-info {
  color: @basic-black;
  .set-font(1.25rem, 1.15em, 400);
  letter-spacing: 0.06em;
  padding-bottom: 40px;

  @media (min-width: 0) and (max-width: 1279.5px) {
    padding-bottom: 20px;
  }
}

.popup__description {
  color: @basic-black;
  .set-font(0.94rem, 1.1em, 400);
  letter-spacing: 0.06em;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    .set-font(0.81rem, 1.1em, 400);
    padding-bottom: 20px;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    .set-font(0.81rem, 1.1em, 400);
    padding-bottom: 24px;
  }
}

.popup__additional-info {
  list-style: none;
  min-height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 0) and (max-width: 1279.5px) {
    min-height: 87px;
  }

  li {
    position: relative;
    padding-left: 14px;
    color: @basic-black;
    .set-font(0.94rem, 1.1em, 700);
    letter-spacing: 0.06em;

    &:before {
      content: "\2022";
      position: absolute;
      left: 0;
      color: @basic-sand;
    }
  }

  span {
    .set-font(0.94rem, 1.1em, 400);
  }
}
