@import "./pages/variables.less";
@import "./pages/mixins.less";

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  .set-font();
  color: @basic-dark;
  background:
    url("../../assets/img/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
    #211F20
    no-repeat;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

.lock {
  overflow-y: hidden;
}

.container {
  width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}

.btn {
  display: block;
  padding: 15px 45px;
  font-family: "Georgia", serif;
  .set-font(1.06rem, 1.3em, 400);
  letter-spacing: 0.06em;
  border-radius: 100px;
  color: @basic-dark-xl;
  background-color: @basic-sand;

  &--friend {
    width: 207px;

    @media (min-width: 0) and (max-width: 1279.5px) {
      margin: 0 auto;
    }
  }

  &--donation {
    width: 349px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 59px;
    padding-right: 15px;
    border-radius: 9px;
    .set-font(1.25rem, 1.15em, 400);
    color: @basic-dark-l;

    background-image: url("../../assets/icons/credit-card.svg");
    background-position: 15px 10px;
    background-repeat: no-repeat;

    @media (min-width: 0) and (max-width: 767.5px) {
      padding-top: 13px;
      padding-bottom: 13px;
      width: 281px;
      .set-font(0.94rem, 1.1em, 400);
    }
  }

  &--our-friends {
    padding: 13px 43px;
    border: 2px solid @basic-sand;
    background-color: @basic-white;

    &:hover {
      border-color: @basic-sand-light;
      background-color: @basic-sand-light;
    }
  }

  &:hover {
    background-color: @basic-sand-light;
  }
}

.header {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 0) and (max-width: 1279.5px) {
    padding-bottom: 62px;
    padding-top: 30px;
  }
}

.header__container {
  width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 320px;
    padding-left: 10px;
    padding-right: 53px;
    margin: 0;
    margin-left: auto;
  }
}

.header__wrapper {
  display: flex;
  justify-content: flex-start;
}

.header__logo {
  z-index: 3;
  margin-right: auto;
}

.header__logo-title {
  display: block;
  padding-bottom: 10px;
  font-family: "Georgia", serif;
  .set-font(2rem, 1.1em, 400);
  text-align: center;
  letter-spacing: 0.06em;
  color: @basic-sand;
}

.header__logo-subtitle {
  display: block;
  .set-font(0.81rem, 15px, 400);
  text-align: center;
  letter-spacing: 0.1em;
  color: @basic-white;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
}

.nav-menu__toggler {
  z-index: 3;
  display: none;
  position: relative;
  margin-top: 20px;
  width: 30px;
  height: 22px;
  border: none;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @basic-sand;
    box-shadow: 0 10px 0 0 @basic-sand, 0 20px 0 0 @basic-sand;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    display: block;
    transition: transform 0.5s;

    &--open {
      transform: rotate(90deg);
    }
  }
}

.nav-menu__list {
  padding-top: 16px;
  display: flex;
  align-items: flex-start;
  list-style: none;

  @media (min-width: 0) and (max-width: 767.5px) {
    position: fixed;
    top: 0;
    right: -320px;
    padding-top: 248px;
    padding-bottom: 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 100vh;
    background-color: @basic-dark-xl;
    transition: 0.5s;

    &--show {
      overflow-y: hidden;
      right: 0;
      box-shadow: -320px 0 0 300px rgba(41, 41, 41, 0.6);
    }
  }
}

.nav-menu__item {
  display: flex;
  align-items: center;
  margin-left: 36px;

  @media (min-width: 0) and (max-width: 767.5px) {
    margin: 0;

    + .nav-menu__item {
      margin-top: 40px;
    }
  }
}

.nav-menu__link {
  .set-font(@font-size: 0.94rem);
  color: @basic-grey;

  &:hover {
    color: @basic-white-dark;
  }

  &--active {
    color: @basic-white-dark;
    border-bottom: 3px solid @basic-sand;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    .set-font(2rem, 1.6em, 400);
  }
}

.friend {
  display: flex;

  @media (min-width: 0) and (max-width: 1279.5px) {
    flex-direction: column;
  }
}

.friend__img {
  width: 698px;
  height: 728px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 569px;
    height: 593px;
    margin-left: auto;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 260px;
    height: 272px;
    margin-left: auto;
  }
}

.friend__text-column {
  margin-right: 42px;
  padding-top: 163px;
  width: 460px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    padding-top: 0;
    padding-bottom: 100px;
    margin: 0 auto;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    width: auto;
    padding-top: 0;
    padding-bottom: 105px;
    margin: 0 auto;
    text-align: center;
  }
}

.friend__header {
  margin-bottom: 42px;
  width: 310px;
  font-family: "Georgia", serif;
  .set-font(2.75rem, 1.3em, 400);
  color: @basic-white;

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 300px;
    .set-font(1.56rem, 1.3em, 400);
    letter-spacing: 0.06em;
  }
}

.friend__description {
  margin-bottom: 41px;
  .set-font(0.94rem, 1.6em, 400);
  color: @basic-grey;

  @media (min-width: 0) and (max-width: 767.5px) {
    margin-bottom: 42px;
  }
}

.about {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: @basic-white;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    padding-top: 81px;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    flex-direction: column;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    flex-direction: column;
  }
}

.about__text {
  width: 430px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 436px;
    padding-bottom: 80px;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 300px;
    padding-bottom: 42px;
  }
}

.about__img {
  display: block;
  margin-right: 120px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    margin: 0;
    order: 2;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 260px;
    height: 354px;
    margin: 0;
    order: 2;
  }
}

.about__header {
  width: 370px;
  font-family: "Georgia", serif;
  .set-font(2.19rem, 1.3em, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-l;

  @media(min-width: 0) and (max-width: 767.5px) {
    text-align: center;
    width: 300px;
    .set-font(1.56rem, 1.3em, 400);
  }
}

.about__description {
  padding-top: 25px;
  .set-font(0.94rem, 1.6em, 400);
  color: @basic-dark-xl;

  @media(min-width: 0) and (max-width: 767.5px) {
    width: 270px;
    text-align: justify;
    margin: 0 auto;

    &:last-child {
      padding-top: 23px;
    }
  }
}

.our-friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: @basic-light-l;

  @media (min-width: 0) and (max-width: 767.5px) {
    padding-top: 41px;
    padding-bottom: 42px;
  }
}

.our-friends__wrapper {
  min-height: 697px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 0) and (max-width: 767.5px) {
    min-height: 707px;
  }
}

.our-friends__header {
  width: 401px;
  text-align: center;
  font-family: "Georgia", serif;
  .set-font(2.19rem, 1.3em, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-l;

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 300px;
    .set-font(1.56rem, 1.3em, 400);
  }
}

.slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 270px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}

.slider__btn {
  width: 52px;
  height: 52px;
  border: 2px solid @basic-sand;
  border-radius: 100px;
  background-color: transparent;

  &--previous {
    background-image: url("../../assets/icons/arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-width: 0) and (max-width: 767.5px) {
      margin-right: 80px;
      order: 2;
    }
  }

  &--next {
    background-image: url("../../assets/icons/arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);

    @media (min-width: 0) and (max-width: 767.5px) {
      order: 3;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: @basic-sand-light;
    border-color: @basic-sand-light;
  }

  &:disabled {
    border-color: @basic-grey;
    background-image: url("../../assets/icons/arrow-dis.svg");

    &:hover {
      cursor: default;
      background-color: transparent;
    }
  }
}

.slider__list {
  width: 990px;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 580px;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 270px;
  }
}

.slider__item {
  padding-bottom: 30px;
  width: 270px;
  min-height: 435px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: @basic-white-dark;

  &--current,
  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: @basic-white;
  }

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    &:nth-child(3) {
      display: none;
    }
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
  }
}

.slider__name {
  font-family: "Georgia", serif;
  .set-font(1.25rem, 23px, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-l;
}

.help {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: @basic-white;

  @media (min-width: 0) and (max-width: 767.5px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__header {
  width: 312px;
  padding-bottom: 60px;
  text-align: center;
  font-family: "Georgia", serif;
  .set-font(2.19rem, 1.3em, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-l;

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 221px;
    padding-bottom: 42px;
    .set-font(1.56rem, 1.3em, 400);
  }
}

.help__list {
  width: 1029px;
  min-height: 281px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  column-gap: 120px;
  row-gap: 55px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 630px;
    column-gap: 60px;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 290px;
    gap: 30px;
    justify-content: flex-start;
  }
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 113px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 170px;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 130px;
    min-height: 87px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  h3 {
    font-family: "Georgia", serif;
    .set-font(1.25rem, 1.437rem, 400);
    letter-spacing: 0.06em;
    color: @basic-dark-l;

    @media (min-width: 0) and (max-width: 767.5px) {
      .set-font(0.94rem, 1.1em, 400);
    }
  }

  img {
    display: block;
  }
}

.donation {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: @basic-light-l;

  @media (min-width: 0) and (max-width: 767.5px) {
    padding-top: 41px;
    padding-bottom: 42px;
  }
}

.donation__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    flex-direction: column;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    flex-direction: column;
  }

  img {
    margin-right: 30px;

    @media (min-width: @tablet-width) and (max-width: 1279.5px) {
      margin: 0;
      order: 2;
    }

    @media (min-width: 0) and (max-width: 767.5px) {
      width: 260px;
      height: 135px;
      margin: 0;
      order: 2;
    }
  }
}

.donation__text {
  width: 380px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 284px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    min-height: 282px;
    margin-bottom: 60px;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    align-items: center;
    width: 300px;
    min-height: 281px;
    margin-bottom: 42px;
  }
}

.donation__header {
  width: 300px;
  padding-top: 1px;
  font-family: "Georgia", serif;
  .set-font(2.19rem, 1.3em, 400);
  color: @basic-dark-l;
  letter-spacing: 0.06em;

  @media (min-width: 0) and (max-width: 767.5px) {
    text-align: center;
    .set-font(1.56rem, 1.3em, 400);
  }
}

.donation__subheading {
  font-family: "Georgia", serif;
  .set-font(0.94rem, 1.1em, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-l;

  @media (min-width: 0) and (max-width: 767.5px) {
    font-family: "Arial", sans-serif;
    .set-font(0.94rem, 1.6em, 400);
    letter-spacing: 0;
  }
}

.donation__legal {
  font-family: "Arial", sans-serif;
  .set-font(0.75rem, 1.125rem, 400);
  font-style: italic;
  color: @basic-dark-m;

  @media (min-width: 0) and (max-width: 767.5px) {
    width: 280px;
    text-align: justify;
  }
}

.footer {
  padding-top: 40px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    padding-top: 30px;

    img {
      width: 300px;
      height: 310px;
    }
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    padding-top: 31px;

    img {
      width: 260px;
      height: 269px;
    }
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    row-gap: 65px;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__text {
  margin-top: 17px;
  min-height: 234px;
  width: 279px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    margin-top: 0;

    &:first-child {
      margin-right: 60px;
    }
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    margin-top: 0;
  }

  &--large {
    width: 302px;

    @media (min-width: 0) and (max-width: 767.5px) {
      margin-bottom: 50px;
    }
  }

  h2 {
    font-family: "Georgia", serif;
    .set-font(2.187rem, 1.3em, 400);
    letter-spacing: 0.06em;
    color: @basic-white;

    @media (min-width: 0) and (max-width: 767.5px) {
      text-align: center;
    }
  }
}

.footer__link {
  display: block;
  min-height: 32px;
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Georgia", serif;
  .set-font(1.25rem, 1.15em, 400);
  color: @basic-sand;
  letter-spacing: 0.06em;
  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 32px;
    top: calc((100% - 32px) / 2);
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--email {
    &::before {
      background-image: url("../../assets/icons/icon-email.svg");
    }
  }

  &--tel {
    &::before {
      background-image: url("../../assets/icons/icon-phone.svg");
    }
  }

  &--marker {
    padding-left: 42px;

    &::before {
      width: 22px;
      background-image: url("../../assets/icons/icon-marker.svg");
    }
  }
}

.popup {
  font-family: "Georgia", serif;
  z-index: 4;
  width: 952px;
  padding-top: 52px;
  padding-right: 52px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 630px;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    padding-right: 30px;
    width: 240px;
  }

  img {
    width: 500px;
    height: 500px;
    margin-right: 29px;
    border-radius: 9px;

    @media (min-width: @tablet-width) and (max-width: 1279.5px) {
      width: 350px;
      height: 350px;
      margin-right: 11px;
    }

    @media (min-width: 0) and (max-width: 767.5px) {
      display: none;
    }
  }

  &--close {
    display: none;
  }
}

.popup__background {
  display: flex;
  border-radius: 9px;
  background-color: @basic-white-dark;
  box-shadow: 0 0 0 900px rgba(41, 41, 41, 0.6);

  @media (min-width: 0) and (max-width: 767.5px) {
    padding: 10px;
  }
}

.btn-close {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid @basic-sand;
  background-color: transparent;

  &--hover {
    border-color: @basic-sand-light;
    background-color: @basic-sand-light;
  }

  &:hover {
    cursor: pointer;
    border-color: @basic-sand-light;
  }
}

.popup__text {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 20px;
  width: 351px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    width: 260px;
    margin-top: 10px;
    margin-right: 9px;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    margin: 0;
    align-items: center;
  }
}

.popup__name {
  color: @basic-black;
  .set-font(2.19rem, 1.3em, 400);
  letter-spacing: 0.06em;
  padding-bottom: 10px;
}

.popup__breed-info {
  color: @basic-black;
  .set-font(1.25rem, 1.15em, 400);
  letter-spacing: 0.06em;
  padding-bottom: 40px;

  @media (min-width: 0) and (max-width: 1279.5px) {
    padding-bottom: 20px;
  }
}

.popup__description {
  color: @basic-black;
  .set-font(0.94rem, 1.1em, 400);
  letter-spacing: 0.06em;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) and (max-width: 1279.5px) {
    .set-font(0.81rem, 1.1em, 400);
    padding-bottom: 20px;
  }

  @media (min-width: 0) and (max-width: 767.5px) {
    .set-font(0.81rem, 1.1em, 400);
    padding-bottom: 24px;
  }
}

.popup__additional-info {
  list-style: none;
  min-height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 0) and (max-width: 1279.5px) {
    min-height: 87px;
  }

  li {
    position: relative;
    padding-left: 14px;
    color: @basic-black;
    .set-font(0.94rem, 1.1em, 700);
    letter-spacing: 0.06em;

    &:before {
      content: "\2022";
      position: absolute;
      left: 0;
      color: @basic-sand;
    }
  }

  span {
    .set-font(0.94rem, 1.1em, 400);
  }
}
