@import "./pages/variables.less";
@import "./pages/mixins.less";

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  .set-font();
  color: @basic-dark;
  background:
    url("../../assets/img/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
    #211F20
    no-repeat;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.btn {
  display: block;
  padding: 15px 45px;
  font-family: "Georgia", serif;
  .set-font(1.06rem, 1.3em, 400);
  letter-spacing: 0.06em;
  border-radius: 100px;
  color: @basic-dark-xl;
  background-color: @basic-sand;

  &--friend {
    width: 207px;
  }

  &--donation {
    width: 349px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 59px;
    padding-right: 15px;
    border-radius: 9px;
    .set-font(1.25rem, 1.15em, 400);
    color: @basic-dark-l;

    background-image: url("../../assets/icons/credit-card.svg");
    background-position: 15px 10px;
    background-repeat: no-repeat;
  }

  &--our-friends {
    padding: 13px 43px;
    border: 2px solid @basic-sand;
    background-color: @basic-white;

    &:hover {
      border-color: @basic-sand-light;
      background-color: @basic-sand-light;
    }
  }

  &:hover {
    background-color: @basic-sand-light;
  }
}

.header {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header__wrapper {
  display: flex;
  justify-content: flex-start;
}

.header__logo {
  margin-right: auto;
}

.header__logo-title {
  display: block;
  padding-bottom: 10px;
  font-family: "Georgia", serif;
  .set-font(2rem, 1.1em, 400);
  text-align: center;
  letter-spacing: 0.06em;
  color: @basic-sand;
}

.header__logo-subtitle {
  display: block;
  .set-font(0.81rem, 15px, 400);
  text-align: center;
  letter-spacing: 0.1em;
  color: @basic-white;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
}

.nav-menu__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-menu__item {
  display: flex;
  align-items: center;
  margin-left: 36px;
}

.nav-menu__link {
  .set-font(@font-size: 0.94rem);
  color: @basic-grey;

  &:hover {
    color: @basic-white-dark;
  }

  &--active {
    color: @basic-white-dark;
    border-bottom: 3px solid @basic-sand;
  }
}

.friend {
  display: flex;
}

.friend__text-column {
  margin-right: 42px;
  padding-top: 163px;
  width: 460px;
  display: flex;
  flex-direction: column;
}

.friend__header {
  margin-bottom: 42px;
  width: 310px;
  font-family: "Georgia", serif;
  .set-font(2.75rem, 1.3em, 400);
  color: @basic-white;
}

.friend__description {
  margin-bottom: 41px;
  .set-font(0.94rem, 1.6em, 400);
  color: @basic-grey;
}

.about {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: @basic-white;
}

.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__text {
  width: 430px;
}

.about__img {
  display: block;
  margin-right: 120px;
}

.about__header {
  width: 370px;
  font-family: "Georgia", serif;
  .set-font(2.19rem, 1.3em, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-l;
}

.about__description {
  padding-top: 25px;
  .set-font(0.94rem, 1.6em, 400);
  color: @basic-dark-xl;
}

.our-friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: @basic-light-l;
}

.our-friends__wrapper {
  min-height: 697px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.our-friends__header {
  width: 401px;
  text-align: center;
  font-family: "Georgia", serif;
  .set-font(2.19rem, 1.3em, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-l;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__btn {
  width: 52px;
  height: 52px;
  border: 2px solid @basic-sand;
  border-radius: 100px;
  background-color: transparent;

  &--previous {
    background-image: url("../../assets/icons/arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--next {
    background-image: url("../../assets/icons/arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }

  &:hover {
    cursor: pointer;
    background-color: @basic-sand-light;
    border-color: @basic-sand-light;
  }

  &:disabled {
    border-color: @basic-grey;
    background-image: url("../../assets/icons/arrow-dis.svg");

    &:hover {
      cursor: default;
      background-color: transparent;
    }
  }
}

.slider__list {
  width: 990px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.slider__item {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 270px;
  min-height: 435px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: @basic-white-dark;

  &--current,
  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: @basic-white;
  }
}

.slider__name {
  font-family: "Georgia", serif;
  .set-font(1.25rem, 23px, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-l;
}

.help {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: @basic-white;
}

.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__header {
  width: 312px;
  padding-bottom: 60px;
  text-align: center;
  font-family: "Georgia", serif;
  .set-font(2.19rem, 1.3em, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-l;
}

.help__list {
  width: 1029px;
  min-height: 281px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 113px;

  h3 {
    font-family: "Georgia", serif;
    .set-font(1.25rem, 1.437rem, 400);
    letter-spacing: 0.06em;
    color: @basic-dark-l;
  }

  img {
    display: block;
  }
}


.help__item + .help__item {
  margin-left: 120px;

  &:nth-child(6) {
    margin-left: 84px;
  }
}

.donation {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: @basic-light-l;
}

.donation__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 30px;
  }
}

.donation__text {
  width: 380px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 284px;
}

.donation__header {
  width: 300px;
  padding-top: 1px;
  font-family: "Georgia", serif;
  .set-font(2.19rem, 1.3em, 400);
  color: @basic-dark-l;
  letter-spacing: 0.06em;
}

.donation__subheading {
  font-family: "Georgia", serif;
  .set-font(0.94rem, 1.1em, 400);
  letter-spacing: 0.06em;
  color: @basic-dark-l;
}

.donation__legal {
  font-family: "Arial", sans-serif;
  .set-font(0.75rem, 1.125rem, 400);
  font-style: italic;
  color: @basic-dark-m;
}
